<div class="container my-container">
  <h5>{{ person.name }}</h5>
  <label>Height</label>
  <p class="form-control-static">{{ person.height }}</p>
  <label>Mass</label>
  <p class="form-control-static">{{ person.mass }}</p>
  <label>Hair Color</label>
  <p class="form-control-static">{{ person.hair_color }}</p>
  <label>Eye Color</label>
  <p class="form-control-static">{{ person.eye_color }}</p>
  <label>Birth Year</label>
  <p class="form-control-static">{{ person.birth_year }}</p>
  <label>Gender</label>
  <p class="form-control-static">{{ person.gender }}</p>
</div>
