.myCard {
  padding: 5px;
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
}

.myCard span {
  font-size: 15px;
  color: orange;
  margin-left: 5px;
}

img {
  width: 100px;
  border: 0px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}
