<div class="container my-container">
  <div class="row">
    <div class="col-md-12 my-list">
      <a class="btn btn-secondary btn-lg btn-block" routerLink="people"
        >PEOPLE</a
      >
    </div>
    <div class="col-md-12 my-list">
      <a class="btn btn-secondary btn-lg btn-block" routerLink="movies"
        >MOVICE</a
      >
    </div>
    <div class="col-md-12 my-list">
      <a class="btn btn-secondary btn-lg btn-block" routerLink="planets"
        >PLANETS</a
      >
    </div>
  </div>
</div>
